<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Kısaltma | Homepage</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="title">
        <h1>URL Kısaltıcı</h1>
    </div>
    <div class="link-body">
        <div class="text">
            <h4>Kısaltılacak URL'yi giriniz</h4>
        </div>

        <div class="input_log">
            <tr>
                <td>
                    <form method="post" action="/shorten">
                        <input type="text" placeholder="  URL'yi buraya giriniz" name="url" class="input_text">
                </td>
                <td>
                    <button type="submit" id="button" action="/shorten">Kısalt</button>
                </td>
            </tr>
        </div>    
    </div>
    
    <div class="direct">
        © 2023 Url Kısaltıcı, Directed By PrarieComamile
    </div>

</body>
</html>