<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Kısaltıcı | Shorten</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

        <div class="title">
            <h1>URL Kısaltıcı</h1>
        </div>
        <div class="link-body">
            <div class="text">
                <h4>Kısaltılmış URL</h4>
            </div>
    
            <div class="input_log">
                <tr>
                    <td>
                        <input type="text" value="{{ tinylink }}" class="input_text" id="url">
                    </td>
                    <td>
                        <input onclick="clickfunc()" type="submit" id="button" value="Kopyala">
                    </td>
                </tr>
            </div>   
            
            <p class="shtext">Uzun Url: <a style="color: #3a44ff" href="{{ url }}" target="_blank"> {{ url }}</a></p>
            <p class="shtext">Başka bir URL <a style="color: #3a44ff" href="/">oluşturun</a></p>

        </div>
        
        <div class="direct">
            © 2023 Url Kısaltıcı, Directed By <a href="https://github.com/PrarieComamile">PrarieComamile</a>
        </div>
        
        
        <script>
        
            function clickfunc() {
                var copyText = document.getElementById("url");

                copyText.select();
                copyText.setSelectionRange(0, 99999);
                document.execCommand("copy");

                alert("Copied the text: " + copyText.value);
                }
        
        </script>

</body>
</html>
